html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, button {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Playfair Display", serif;
}

h1, h2, h4 {
    margin: 0;
}

p {
    font-family: "Lora", serif;
    margin: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;

    /* Prevents it from ignoring certain margin properties  */
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
}

.ctnr {
    width: 85%;
    /* May change later */
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    font-weight: 400;
}

.text {
    font-size: 1.1rem;
    padding: 1rem 0;
}

.link {
    background-color: orange;
    padding: 1rem 2.5rem;
    color: white;
    font-size: 0.90rem;
}

.navbar {
    text-align: center;
}

.navbar__items {
    position: relative;  
}

.nav__toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav__toggle-icon {
    width: 1.7rem;
}

.logo__img {
    width: 4rem;
    padding: 0.5rem 0;
}

.nav {
    display: none;
}

.nav__list {
    /* border: 2px solid green; */
    margin: 0;
}

.nav__link {
    padding: 0.5rem 0;
    font-weight: 500;
    font-size: 0.90rem;
}

.hero__ctnr {
    width: 75%;
    max-width: 650px;
}

.hero {
    background-image: url("img/hero.jpeg");
    background-position: 65% 45%;
    padding: 9rem 0;
}

.hero__text {
    color: #6D6A6A;
}

.custom-info {
    text-align: center;
    padding: 6rem 0;
    background-color: rgb(247, 247, 247);
}

.custom-info__item-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-info__item {
    /* background-color: rgb(247, 247, 247); */
    /* background-color: gray; */
    margin-top: 2rem;
    max-width: 350px;
    padding: 1rem 0;
}

.custom-info__img {
    width: 6.25rem;
    display: block;
    margin: 0 auto;
}

.custom-info__text {
    /* background-color: aqua; */
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    text-align: left;
    color: #6D6A6A;
}

.custom {
    background-color: rgb(247, 247, 247);
    background-image: url("img/custom.png");
    padding: 10rem 0;
    background-position: center 30%;
    color: white;
    text-align: center;
}

.custom__text {
    max-width: 550px;
    margin: 0 auto;
}

.footer {
    font-size: 0.80rem;
    padding: 3rem;
}

.footer__nav {
    padding: 0.5rem;
}

.footer__link {
    margin-top: 0.5rem;
}

.copyright {
    font-weight: normal;
    text-align: center;
    padding-top: 1.5rem;
}

.credit-cards {
    display: block;
    margin: 0 auto;
}


.visible {
    display: block;
}

/* shop.html */
.shop__display {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    width: 90%;
}

.shop__item > * {
    margin-top: 0.3rem;
}

.shop__img {
    max-width: 100%;
}

.shop__img-title {
    font-weight: normal;
}

.shop__cart-btn {
    border: none;
    padding: 0.25em 0.75em;
    background-color: rgb(255, 191, 72);
    font-weight: 500;
}



@media (min-width: 800px) {
    .link {
        font-size: 1.1rem;
    }
    
    .hero {
        padding: 11rem 0;
    }

    .hero__title {
        font-size: 2.6rem;
    }

    .hero__text {
        font-size: 1.2rem;
    }

    .custom-info__item-holder {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .custom-info__title {
        font-size: 2.25rem;
    }

    .custom-info__item {
        /* on flex-items, this makes each item the same width */
        width: 100%;
    }

    .custom-info__subtitle {
        font-size: 1.75rem;
    }

    .custom-info__text {
        text-align: center;
        font-size: 1.063rem;
    }

    .custom__title {
        font-size: 2.75rem;
    }

    .custom__text {
        font-size: 1.25rem;
    }

    .footer__nav-ctnr {
        display: flex;
        justify-content: space-evenly;
    }
}