{% extends "layout.html" %}

{% block main %}
<div class="cart ctnr">
    <h1>Cart</h1>
    {% if not cart_items %}
        <h3 class="none cart__none">No items in cart</h3>
    {% endif %}
    <section class="cart__products">
        {% if cart_items %}
            <div class="cart_info">
                {% for item in cart_items %}
                    <article class="cart__item">
                        <img src="{{ item.directory }}{{ item.path }}" class="cart__item-col cart__item-col--left cart__item-img" alt="{{ item.alt }}">
                        <div class="cart__item-col cart__item-col--mid">
                            <div class="cart__item-name bold">{{ item.name }}</div>
                            <!-- <input type="hidden" name="name" value="{{ item.name }}"> -->
                            <!-- <input type="submit" name="delete" value="Delete" class="delete-btn"> -->
                            <button class="cart__item-delete-btn">Delete</button>
                        </div>
                        <div class="cart__item-col cart__item-col--right">
                            <div class="cart__item-price bold">{{ item.price }}</div>
                            <div class="cart__item-qty">
                                <h3 class="cart__item-qty-title">Qty:</h3>
                                <select name="qty" class="qty">
                                    {% set stock = item.stock | int %}
                                    {% for i in range(1, stock + 1) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
            <div class="cart__subtotal">
                <div class="cart__subtotal-text">
                    <h3 class="cart__subtotal-title">Subtotal</h3>
                    <h3 class="cart__subtotal-amt">{{ subtotal }}</h3>
                </div>
                <input type="submit" class="checkout-btn bold" value="Proceed to checkout">
            </div>
        {% endif %}
    </section>
</div>
{% endblock %} 

{% block js %}
<script src="/static/cart.js"></script>
{% endblock %}