{% extends "layout.html" %}

{% block main %}
<section class="hero">
    <div class="ctnr">
        <div class="hero__ctnr">
            <h1 class="hero__title title">Handcrafted with love: Let's create together!</h1>
            <p class="hero__text text">Browse our latest collection or request a custom creation tailored just for you!</p>
            <a href="/shop" class="hero__link link">Shop</a>
        </div>
    </div>
</section>
<section class="custom-info">
    <div class="ctnr">
        <h1 class="custom-info__title title">How Custom Orders Work</h1>
        <div class="custom-info__item-holder">
            <div class="custom-info__item">
                <img src="/static/img/computer-icon.png" class="custom-info__img" alt="computer icon">
                <h2 class="custom-info__subtitle">Discuss</h2>
                <p class="custom-info__text">Schedule a 1-to-1 online appt. with us to discuss your idea or send the link to an existing pattern you want us to make.</p>
            </div>
            <div class="custom-info__item">
                <img src="/static/img/draft-icon.png" class="custom-info__img" alt="creating pattern draft icon">
                <h2 class="custom-info__subtitle">Draft</h2>
                <p class="custom-info__text">After the meeting, we follow up within a few days and show a draft pattern to ensure it is to your liking. Further discussion is done through email or online appointment, if desired.</p>
            </div>
            <div class="custom-info__item">
                <img src="/static/img/delivery-truck-icon.png" class="custom-info__img" alt="fast delivery trunk">
                <h2 class="custom-info__subtitle">Finish</h2>
                <p class="custom-info__text">Once your item is finished, it will be shipped and a tracking number will be provided for you.</p>
            </div>
        </div>
    </div>
</section>
<section class="custom">
    <div class="ctnr">
        <h1 class="custom__title title">Want something custom-made?</h1>
        <p class="custom__text text">Have an idea? Found a pattern online you like? Have us make it for you!</p>
        <a href="/custom_request" class="custom__link link">Request an order</a>
    </div>
</section>
{% endblock %}