{% extends "layout.html" %}

{% block main %}
<div class="form-hero">
    <form action="/login" method="post" class="form auth login ctnr">
        <div class="form__header">
            <h1>Login</h1>
        </div>
        <div class="form__item">
            <label for="username" class="form__label">Username</label>
            <input type="text" name="username" class="input form__username" id="username" autocomplete="off">
        </div>
        <div class="form__item">
            <label for="password" class="form__label">Password</label>
            <input type="password" name="password" class="input form__password" id="password" autocomplete="off">
        </div>
        <div class="form__item">
            <input type="submit" name="register" class="input form__submit" value="Login">
        </div>
    </form>
</div>
{% endblock %} 