{% extends "layout.html" %}

{% block main %}
<div class="auth-hero">
    <form action="/login" method="post" class="auth login ctnr">
        <div class="auth__header">
            <h1>Login</h1>
        </div>
        <div class="auth__item">
            <label for="username" class="auth__label">Username</label>
            <input type="text" name="username" class="input auth__username" id="username" autocomplete="off">
        </div>
        <div class="auth__item">
            <label for="password" class="auth__label">Password</label>
            <input type="password" name="password" class="input auth__password" id="password" autocomplete="off">
        </div>
        <div class="auth__item">
            <input type="submit" name="register" class="input auth__submit" value="Login">
        </div>
    </form>
</div>
{% endblock %} 